<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Beauty salon{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'beauty_salon/css/base.css' %}">
</head>
<body>
    <header>
        <div class='container'>
        {% block nav %}
            <a href="{% url 'index' %}">Home |</a>
            <a href="{% url 'salon_services' %}">Services |</a>
            <a href="{% url 'orders' %}">Orders |</a>
        {% endblock nav %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>