{% extends 'beauty_salon/base.html' %}
{% load static%}
{% block title %} {{ object }} {% endblock title %}
{% block content %}
{% comment %} <p><a class="button" href="{% url 'user_create_an_order' %}">Add a service</a></p> {% endcomment %}
<h1>Order {{ object.id }}</h1>
<p>Date: {{ order.date }}</p>
<div class="table-grid my-orders-table">
    <div class="table-grid-cell center dark">Provider </div>
    <div class="table-grid-cell center dark">Service </div>
    <div class="table-grid-cell center dark">Price</div>    
    <div class="table-grid-cell center dark">Quantity</div>
    <div class="table-grid-cell center dark">Total</div>

    {% for order_line in object.order_lines.all %}
        <div class="table-grid-cell">{{ order_line.master }}</div>
        <div class="table-grid-cell">{{ order_line.service.name }}</div>
        <div class="table-grid-cell">{{ order_line.price }}</div>
        <div class="table-grid-cell">{{ order_line.quantity }}</div>
        <div class="table-grid-cell">{{ order_line.total }}</div>
    {% endfor %}
</div>
{% endblock content %}
